fastembed==0.8.0
gradio==6.20.0
langchain-huggingface==1.2.2
langchain-openai
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.2
langgraph==1.2.9
python-dotenv==1.2.2
qdrant-client
sentence-transformers==5.6.1
tiktoken==0.13.0
